body{
    background-color:gray;
    color:darkred;
    font-family:'Times New Roman', Times, serif;
}
.heading{
    width:80%;
    font-size:22px;
    background-color:lightsteelblue;
    font-family:'Zen Tokyo Zoo';
}
#camera{
    width:350px;
    height:300px;
    border:2px dashed black;
}
#result_object_name, #result_accuracy{
    color:navy;
}